.formStyle {
  background-color: lightpink;
  margin: 25px;
  text-align: center;
}

.inputBox {
  margin: 10px;
}

.radioStyle {
  margin: 25px;
  padding-bottom: 25px;
}

.previewStyle {
  background-color: lightblue;
  margin: 25px;
  text-align: center;
}
.buttonStyle {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}